.movie-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
  }
  .overlay h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  @media (min-width: 480px) {
    .movie-card:hover {
      /* transform-origin: left center; */
      transform: scale(1.1) translateZ(20px);
      z-index: 2;
    }
  }
  
  .overlay:hover {
    opacity: 1;
  }