/* AppLayout */
.netflix {
    width: 100%;
  }
  
  /* header */
  .header {
    width: 100%;
  }
  
  .header .header_logo img {
    width: 100%;
  }
  
  .header .toggle_btn {
    --bs-navbar-toggler-icon-bg: url(../img/layout/header_toggle_button_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* footer */
  .footer {
    margin-top: 2rem;
  
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #555;
  }
  
  .footer_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer_info ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }